name: Deploy Application

on:
  push:
    branches:
      - main

jobs:
  deploy_AWS_Lambda:
    runs-on: ubuntu-latest
    if: ${{ vars.TARGET == 'aws-lambda' }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '18'
    - name: Install dependencies
      run: npm install
    - name: Deploy to AWS Lambda
      run: npx serverless deploy
      working-directory: serverless/aws-lambda
